<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>干氏养生会所欢迎您</title>
    <meta name="description" content="干氏养生会所">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"></div>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">康哥</span>
                        <span class="tpl-header-list-user-ico"> <img src="assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>


    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                操作列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="" class="nav-link">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>登记客房</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="check_in.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>登记入住</span>
                                </a>
                                <a href="group_check_in.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>团体登记</span>
                                </a>
                                <a href="book_room.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>预定客房</span>
                                </a>
                                <a href="group_book.html" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>团体预定</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>客户结账</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="settle.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>客户结账</span>
                                </a>
                                <a href="group_settle.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>团体结账</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>查询</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="check_guest_info.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>客户查询</span>
                                </a>
                                <a href="check_room.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>房间查询</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--仅管理员-->
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>房间管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="chang_room.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>房间增删</span>
                                </a>
                                <a href="chang_room_type.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>更改房间类型</span>
                                </a>
                                <a href="change_price.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>更改房价</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="satement.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>财务报表</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                团体预定登记
            </div>
            <ol class="am-breadcrumb">
                <li><a href="ngc.html" class="am-icon-home">首页</a></li>
                <li><a href="">团体预定登记</a></li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 预定登记
                    </div>
                </div>

                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">


                            <form class="am-form tpl-form-line-form" id="group_book">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">预定组织名称 <span class="tpl-form-line-small-title">Name</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="org_name" placeholder="请输入名字全称" v-model="org_name" >
                                        <small>请填写预定组织名称。</small>
                                    </div>
                                </div>

                                <template v-for="member in members">

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">预定客人姓名 <span class="tpl-form-line-small-title">name</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请输入预定者姓名" v-model="member.name"/>
                                            <small>请填写预定者姓名</small>
                                        </div>
                                    </div>
    
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">预定客人身份证编号 <span class="tpl-form-line-small-title">ID number</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请输入13位身份证号" v-model="member.id_number"/>
                                            <small>身份证必填</small>
                                        </div>
                                    </div>
                                    
                                    <div class="am-form-group" style="border-bottom: 3px;">
                                        <label class="am-u-sm-3 am-form-label">预定客房编号<span class="tpl-form-line-small-title">Room number</span> </label>
                                        <div class="am-u-sm-9" style="float: left;">
                                            <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请输入房间编号" v-model="member.room_number"/>
                                            <small>备注：若预定成功，则会在当日14点至次日12点为该顾客预留房间</small>
                                        </div>
                                    </div>

                                </template>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success" v-on:click="addmember">添加客人</button>
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success" v-on:click="popmember">删除客人</button>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">日期<span class="tpl-form-line-small-title">date</span></label>
                                    <div class="am-u-sm-4" style="float: left;">
                                        <input type="date" class="am-form-field" placeholder="日期" v-model="date">
                                        <small>备注：若预定时间于今日之前，则会预定失败</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">备注<span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" placeholder="备注（可选 -_-! 反正不会被放到数据库里）">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success" v-on:click="submit">提交</button>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/iscroll.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/group_book.js"></script>
</body>

</html>
