{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>干氏养生会所欢迎您</title>
    <meta name="description" content="干氏养生会所">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{% static "i/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "i/app-icon72x72@2x.png" %}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="{% static "css/amazeui.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/admin.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <script src="{% static "js/echarts.min.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="{% static "img/logo.png" %}" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"></div>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">康哥</span>
                        <span class="tpl-header-list-user-ico"> <img src="{% static "img/user01.png" %}"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>



    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                操作列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/index/" class="nav-link active" >
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>登记客房</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="/check/">
                                    <i class="am-icon-angle-right"></i>
                                    <span>登记入住 & 预定客房</span>
                                </a>
                                <a href="/group/">
                                    <i class="am-icon-angle-right"></i>
                                    <span>团体登记 & 预定</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>客户结账</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="/settle/">
                                    <i class="am-icon-angle-right"></i>
                                    <span>客户结账</span>
                                </a>
                                <a href="/group_settle/">
                                    <i class="am-icon-angle-right"></i>
                                    <span>团体结账</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>查询</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="/get_guest/">
                                    <i class="am-icon-angle-right"></i>
                                    <span>客户查询</span>
                                </a>
                                <a href="/check_room/">
                                    <i class="am-icon-angle-right"></i>
                                    <span>房间查询</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% if is_admin %}
                    <li class="tpl-left-nav-item">
                        <a href="/change_room/" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>房间管理</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>





        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Welcome to Gan's health club !!!
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
            </ol>
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>
                        <span class="close" data-close="note">干氏养生会所</span>
                    </h3>
                    <p>干氏养生会所，您的健康理财专家，专业推拿，按摩，足浴，SPA，为顾客带来健康与实惠</p>
                    <p><span class="label label-danger">提示:</span> 如需添加以及删除客房，请联系管理员。
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="am-icon-comments-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{ t_live }} </div>
                            <div class="desc"> 新入住 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="am-icon-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{ live_percent }} </div>
                            <div class="desc"> 入住率 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="am-icon-apple"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{ valid }} </div>
                            <div class="desc"> 空房间数 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="am-icon-android"></i>
                        </div>
                        <div class="details">
                            <div class="number"> 786 </div>
                            <div class="desc"> 不知道说啥了 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <span>昨日入住</span>
                            </div>
                        </div>
                        <div class="am-tabs tpl-index-tabs" data-am-tabs>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                    <div id="wrapperA" class="wrapper">
                                        <div id="scroller" class="scroller">
                                            <ul class="tpl-task-list tpl-task-remind">
                                                {%  for order in orders %}
                                                <li>
                                                    <div class="cosA">
                                                        <span class="cosIco label-danger"><i class="am-icon-bolt"></i></span>
                                                        <span> {{ order.name }} 入住 {{ order.room_number }} 号房间。</span>
                                                    </div>
                                                </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-red ">
                                <i class="am-icon-bar-chart"></i>
                                <span> 财务一览 </span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">
                            <div class="number-stats">
                                <div class="stat-number am-fl am-u-md-6">
                                    <div class="title am-text-right"> 昨日收入 </div>
                                    <div class="number am-text-right am-text-warning"> {{ y_money }} </div>
                                </div>
                                <div class="stat-number am-fr am-u-md-6">
                                    <div class="title"> 整月收入 </div>
                                    <div class="number am-text-success"> {{ m_money }} </div>
                                </div>

                            </div>

                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>日期</th>
                                        <th>账单</th>
                                        <th>入住数</th>
                                        <th>入住率</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in bills %}
                                    <tr>
                                        <td>
                                            <a class="user-name" href="">{{ bill.date }}</a>
                                        </td>
                                        <td>￥{{ bill.money }}</td>
                                        <td>{{ bill.room }}</td>
                                        <td class="font-green bold">{{ bill.live_percent }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/amazeui.min.js" %}"></script>
    <script src="{% static "js/iscroll.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>

</html>